/src/main/resources/log4j.properties
.classpath
.project
.settings
.directory

/src/main/resources/defacto.ini

/src/main/resources/training/arff/evidence/40%_false_all.arff
/src/main/resources/training/arff/evidence/50-50_random_defacto_evidence.arff
/src/main/resources/training/arff/evidence/all_defacto_evidence.arff
/src/main/resources/training/arff/evidence/domain_defacto_evidence.arff
/src/main/resources/training/arff/evidence/domain_range_defacto_evidence.arff
/src/main/resources/training/arff/evidence/numeric_50-50_random_defacto_evidence.arff
/src/main/resources/training/arff/evidence/property_defacto_evidence.arff
/src/main/resources/training/arff/evidence/random_defacto_evidence.arff
/src/main/resources/training/arff/evidence/range_defacto_evidence copy.arff
/src/main/resources/cache

/cache/sparql
/target
/log