<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">


    <display-name>Main Form</display-name>
    <servlet>
        <servlet-name>MainForm</servlet-name>

        <servlet-class>org.aksw.servlets.MainFormServlet</servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>org.aksw.forms.MainForm</param-value>
            <!--param-value>org.vaadin.sami.autocomplete.AutoCompleteSampleApplication</param-value-->
        </init-param>

        <init-param>
            <param-name>widgetset</param-name>
            <param-value>org.aksw.DefactoWidgetset</param-value>
        </init-param>

        <!--init-param>
            <param-name>widgetset</param-name>
            <param-value>com.invient.vaadin.InvientChartsDemoAppWidgetset</param-value>
        </init-param-->
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!--servlet-mapping>
        <servlet-name>MainForm</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping-->

    <servlet-mapping>
        <servlet-name>MainForm</servlet-name>
        <url-pattern>/defacto/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainForm</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>

<!--?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>InvientCharts</display-name>
    <context-param>
        <description>
            Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <servlet>
        <servlet-name>InvientCharts demo Application</servlet-name>
        <servlet-class>com.invient.vaadin.InvientChartsDemoAppServlet</servlet-class>
        <init-param>
            <description>
                Vaadin application class to start</description>
            <param-name>application</param-name>
            <param-value>com.invient.vaadin.InvientChartsDemoApp</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>com.invient.vaadin.InvientChartsDemoAppWidgetset</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvientCharts demo Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvientCharts demo Application</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app-->