@import "../reindeer/styles.css";

.v-theme-version:after {content:"6_7_7";}
.v-theme-version-6_7_7 {display: none;}
/* Automatically compiled css file from subdirectories. */

/*.tweet .buttons {*/
    /*visibility: hidden;*/
    /*color: #f14c1a;*/
    /*background-color: #f14c1a;*/
/*}*/

/*.tweet:hover .buttons {*/
    /*visibility: visible;*/
    /*color: #f14c1a;*/
    /*background-color: #f14c1a;*/
/*}*/

/*
 * Default button (more customizable)
 * -------------------------------------- */
/*.v-button {*/
    /*display: inline-block;*/
    /*zoom: 1;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*border: 2px outset #ddd;*/
    /*cursor: pointer;*/
    /*white-space: nowrap;*/
    /*margin: 0;*/
    /*padding: .2em 1em;*/
    /*font: inherit;*/
    /*line-height: normal;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ie-user-select: none;*/
    /*user-select: none;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-ms-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*color: #f14c1a;*/
    /*background-color: #1f1ef0;*/
    /*visibility: visible;*/
/*}*/

/*.v-button:hover{*/
    /*visibility: hidden;*/
/*}*/

/*.tweet {*/
    /*visibility: hidden;*/
/*}*/

/*.tweet:hover {*/
    /*visibility: visible;*/
/*}*/

.tweet .buttons {
    visibility: hidden;
}

.tweet:hover .buttons {
    visibility: visible;
}

/*.v-button.v-disabled {*/
    /*cursor: default;*/
/*}*/

/*.v-ie6 .v-button {*/
    /*display: inline;*/
/*}*/

/*.v-ie7 .v-button {*/
    /*display: inline;*/
/*}*/

/*.v-button-wrap,*/
/*.v-button-caption {*/
    /*vertical-align: middle;*/
    /*white-space: nowrap;*/
    /*font: inherit;*/
    /*color: inherit;*/
    /*line-height: normal;*/
/*}*/

/*.v-button .v-icon,*/
/*.v-nativebutton .v-icon {*/
    /*vertical-align: middle;*/
    /*margin-right: 3px;*/
    /*border: none;*/
/*}*/

/*.v-button .v-errorindicator,*/
/*.v-nativebutton .v-errorindicator {*/
    /*display: inline-block;*/
    /*zoom: 1;*/
    /*vertical-align: middle;*/
    /*float: none;*/
/*}*/

/* Link style (we really should deprecate this) */
/*.v-button-link,*/
/*.v-nativebutton-link {*/
    /*border: none;*/
    /*text-align: left;*/
    /*background: transparent;*/
    /*padding: 0;*/
    /*color: inherit;*/
    /*-khtml-user-select: text;*/
    /*-moz-user-select: text;*/
    /*-ie-user-select: text;*/
    /*user-select: text;*/
/*}*/

/* Inset Safari focus outline a bit */
/*.v-sa .v-button-link:focus{*/
    /*outline-offset: -3px;*/
/*}*/

/*.v-button-link .v-button-caption,*/
/*.v-nativebutton-link .v-nativebutton-caption {*/
    /*text-decoration: underline;*/
    /*color: inherit;*/
    /*text-align: left;*/
/*}*/