
@import url(../reindeer/styles.css);

.v-splitpanel-second-container {
		background-color: white;
}

.v-splitpanel-hsplitter {
	background: none repeat scroll 0 0 #AEB0B5;
    width: 1px;
}

.v-splitpanel-hsplitter div {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0 -1px;
    padding: 0;
    width: 3px;
}

.v-caption .v-captiontext {
	font-size: 14px;
	font-weight: bold;
    padding: 14px 0 5px 5px;
    color: #5C5D60;
}

.v-textarea-chart-events-log {
	border: 1px solid #C0C0C0 !important;	
}

.v-caption-v-textarea-chart-events-log .v-captiontext {
	padding: 0px 0 5px 0px ! important;	
}

.v-chart-min-width {
	min-width: 600px;
}

.v-label {
    font-size: 14px;
    font-weight: bold;
    color: #5C5D60;    
}

.v-label-app-title {
	color: white;
    float: left;    
    font-size: 24px;
    font-weight: bold;
    line-height: 190%;
    text-align: center;    
    background: repeat-x scroll 0 0 #36332D;
}

div.v-splitpanel-second-container div.v-chart-master-detail div div:nth-child(n+2) {
	position:relative;
	top:-107px;
}

.i-progressindicator-invisible {
     display: none;
}
