__pycache__/
core/classifiers/credibility/__pycache__/
core/web/credibility/__pycache__/
coffeeandnoodles/__pycache__/
coffeeandnoodles/core/__pycache__/
coffeeandnoodles/core/web/__pycache__/
coffeeandnoodles/core/web/scrap/__pycache__/
dev/
